*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,p{
    font-weight: normal;
    font-family: 'Play', -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    
}
body{
    background-color: #F8F8F8;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
svg{
    width: 40px;
    height: 40px;
}
section{
    margin-left: 250px;
    text-align: center;
    overflow: hidden;
}
@media screen and (max-width: 768px){
    section{
        margin: 0 10px;
        padding-top: 50px;
        overflow: unset;
    }
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.layout .content{
    display: none;
}
.layout .content.active{
    display: block;
}

/* aside */
aside{
    width: 250px;
    height: 100vh;
    background: linear-gradient(135deg, #DBDBDB 0, #B4BBC4 100%);
    position: fixed;
}
@media screen and (max-width: 768px){
    aside {
        bottom: auto;
        right: 0;
        width: 100%;
        height: 50px;
    }
}
aside h1{
    text-align: center;
    margin: 30px 0;

}
aside h1 a{
    color: #000;
    font-size: 30px;
}
aside .nav{}
aside .nav li{
    margin: 60px;
    font-size: larger;
}
@media screen and (max-width: 768px){
    aside .nav li{
    margin: 30px 0;
    padding-left: 34px
    }
}
aside .nav li.nav-aboutme.current a,
aside .nav li.nav-project.current a,
aside .nav li.nav-skill.current a,
aside .nav li.nav-contact.current a{
    color: #F46149;
}
aside .nav a{
    display: block;
    color: #4D5257;
}
aside .nav small{
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    padding-left: 20px;
}

.aside-info .download{
    text-align: center;
    width: 100px;
    border: 1px solid #F46149;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
}
.aside-info .download a{
    vertical-align: middle;
    color: #F46149;
    line-height: 32px;
}
@media screen and (max-width: 768px){
    .aside-info{
        display: none;
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
        background: rgba(248, 248, 248, 0.8);
    }
    aside h1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 0;
        padding: 0 34px;
    }
    .menu::after{
        content: '☰';
        display: block;
        font-size: 28px;    
        color: #fff;
        text-align: right;
        cursor: pointer;
    }
    aside.active .menu::after{
        content: '×';
        font-size: 40px;
    }
    aside.active .aside-info{
        display: block;
    }
}

aside .icon{
    display: flex;
    position: absolute;
    bottom: 10px;
    padding: 0 20px;
}
aside .icon li{
    padding: 15px;
    border-radius: 50%;
    transition: .8s;
}
aside .icon a{}
aside .icon li:hover{
    animation: rubberBand 1s;
}
@media screen and (max-width: 768px){
    aside .icon{
    display: flex;
    justify-content: center;
    width: 100%;
    }
    aside .icon li{
        margin: auto;
    }
}
aside .icon li p{
    text-align: -webkit-center;
    font-size: smaller;
    color: #4D5257;
    padding-top: 7px;
}

/* aboutme*/
.aboutme{}
.aboutme .head{
    margin: 0 auto;
    padding-top: 30px;
    animation: fadeInDown 1s;
}
.aboutme .head a{}
.aboutme .head a img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.aboutme .description{
    line-height: 60px;
    padding-top: 50px;
}
@media screen and (max-width: 768px){
    .aboutme .description{
        padding-top: unset;
    }
}
.aboutme .description h2{
    font-size: xx-large;
    padding-top: 10px;
}
.aboutme .description p{
    font-size: larger;
    color: #4D5257;
}

/* project */
.project{}
.project h2{
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #4D5257;
    animation: fadeInDown 1s;
}
.project .item{
    max-width: 600px;
    margin: 60px auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    background: #fff;
}
.project .item h3{
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: #4D5257;
}
.project .item img{
    display: block;
    width: 100%;
    background: #ccc;
}

.project .item .describe{
    padding: 0 20px 20px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.project .item .describe p{
    padding-top: 20px;
    color: #4D5257;
}

.project .item .link{
    padding: 8px;
}
.project .item .link .github{
    margin: 20px;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: ease .5s;
    color: #4D5257;
}


/* skill */
.skill{
    color: #4D5257;
    min-height: 100vh;
}
.skill h2{
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #4D5257;
    animation: fadeInDown 1s;
}
.skill-list-wrapper{
    max-width: 980px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px){
    .skill-list-wrapper{
        flex-direction: column;
    }
}
.skill-list{
    margin: 0 40px;
    width: 50%;
}
@media screen and (max-width: 768px){
    .skill-list{
        width: auto;
        z-index: -1;
    }
}
.skill-list li{
    padding: 10px;
}
.skill-title{
    padding: 8px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
}
.skill-list p{
    position: relative;
    padding-left: 20px;
    color: #555;
    text-align: start;
}
.skill-list p::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    border: 1px solid rgb(244, 97, 73);
}

.skill-tag{
    margin: 20px 0 40px;
}
.tags{
    margin: 0 auto;
    text-align: center;
}
.tag{
    margin: 8px 2px;
    display: inline-block;
    background: #B4BBC4;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, .3);
}
.tag.unfamiliar{
    opacity: 0.6;
}

/* contact */
.contact{}
.contact h2{
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #4D5257;
    animation: fadeInDown 1s;
}
.contact p{
    text-align: left;
    max-width: 320px;
    margin: 0 auto;
    padding: 25px 0;
}
.contact p svg{
    vertical-align: middle;
    padding: 0 5px;
    margin-right: 5px;
}
@media screen and (max-width: 1240px){
    .contact p{
        text-align: left;
        font-size: 19px;
    }
}